<div class="container">
  <div></div>
  <h1>À propos d'Alexis Barreirinho</h1>
  <h2>Mon expérience</h2>
  <p>Aenean efficitur sit amet sem et cursus. Nunc tincidunt vestibulum turpis eget congue. Sed ac dolor elementum, vehicula magna ut, mollis erat. Maecenas eu est in velit volutpat sagittis. Curabitur magna turpis, faucibus et auctor et, rutrum et eros. Nunc et lectus tincidunt, vulputate diam id, venenatis elit. Duis sapien metus, consectetur ut dictum eu, suscipit nec purus. Fusce dapibus non purus sed euismod. Pellentesque tincidunt gravida consectetur. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum placerat turpis arcu, malesuada elementum diam facilisis vel. Donec non pulvinar mauris. Pellentesque aliquam lacus non odio accumsan suscipit. Cras euismod vitae tortor quis maximus. </p>
  <h2>Mon parcours</h2>
  <p>Aenean efficitur sit amet sem et cursus. Nunc tincidunt vestibulum turpis eget congue. Sed ac dolor elementum, vehicula magna ut, mollis erat. Maecenas eu est in velit volutpat sagittis. Curabitur magna turpis, faucibus et auctor et, rutrum et eros. Nunc et lectus tincidunt, vulputate diam id, venenatis elit. Duis sapien metus, consectetur ut dictum eu, suscipit nec purus. Fusce dapibus non purus sed euismod. Pellentesque tincidunt gravida consectetur. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum placerat turpis arcu, malesuada elementum diam facilisis vel. Donec non pulvinar mauris. Pellentesque aliquam lacus non odio accumsan suscipit. Cras euismod vitae tortor quis maximus. </p>
  <h2>Les technologies</h2>
  <div class="dflex dflex-between">
    <p>Ruby on rails</p>
    <p>JavaScript / Stimulus</p>
    <p>HTML/CSS</p>
    <p>ThreeJS</p>
  </div>
</div>
