.title-link{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 16px;
  row-gap: 16px;

  .project-card {
    border: 2px solid $dark-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    width: 45%;

    &:hover {
      background-color: $dark-blue;
      color: $light-white;
      p, h3 {
        color: $light-white;
      }

    }
  }
}
