<div class="form dflex dflex-center py32">
  <div class="container dflex dflex-between">
    <div class="mw50">
      <h2>Téléchargez mon CV</h2>
      <p>Renseignez votre adresse email pour recevoir mon CV par email.</p>
    </div>
    <form action="" id="contact-form" class="dflex dflex-between mw50">
      <input type="email" name="email" id="email" placeholder="Votre email" required>
      <input type="submit" value="Envoyer" class="button">
    </form>
  </div>
</div>
