<footer class="dflex dflex-center">
  <div class="container dflex dflex-between">
    <div>
      <p>© Made by Alexis Barreirinho</p>
    </div>
    <div class="dflex dflex-between">
      <%= link_to 'https://www.linkedin.com/in/alexisbarreirinho/' do %>
        <i class="fa-brands fa-linkedin"></i>
      <% end %>
      <%= link_to 'https://github.com/Khanael' do %>
        <i class="fa-brands fa-github"></i>
      <% end %>
    </div>
  </div>
</footer>
