<div id="navbar">
  <%= link_to 'Accueil', root_path, class: "#{current? "active", root_path}" %>
  <%= link_to 'Alexis Barreirinho', about_path, class: "#{current? "active", about_path}" %>
  <%= link_to 'Mes projets', projects_path, class: "#{current? "active", projects_path}" %>
</div>
